@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Ubuntu";
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
  background-color: #343b3f;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 50vh;
  margin-bottom: 20px;
  background: white;
}
.banner-container {
  display: flex;
}

.bannertext {
  margin-bottom: 200px;
  width: 50%;
  padding: 20px;
  border: 3px solid #57b846;
  border-radius: 4px;
}
.imgcont {
  width: 200%;
  height: auto;
  margin-top: 60px;
}

span {
  width: 50%;
  color: black;
  font-size: 2.5rem;
  width: 70%;
  color: #57b846;
  font-size: 25px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 4rem;
}

.works1 {
  display: flex;
  align-items: center;
  width: 60%;
  height: auto;
  background-color: #57b846;
  margin-bottom: 2rem;
}
.works2 {
  display: flex;
  align-items: center;
  width: 60%;
  height: auto;
  background-color: #57b846;
  margin-bottom: 2rem;
}
.works3 {
  display: flex;
  align-items: center;
  width: 60%;
  height: auto;
  background-color: #57b846;
  margin-bottom: 2rem;
}
.step1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  color: #fff;
  background-color: #469438;

  height: 100%;
}
.step2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  color: #fff;
  background-color: #469438;
}
.step3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  color: #fff;
  background-color: #469438;
}
.step3 img {
  width: 200px;
  margin-top: 0;
}

.para1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  color: #fff;
}
.para2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  color: #fff;
}
.para3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  color: #fff;
}

p {
  text-align: center;
  width: 90%;
  height: 90%;
  letter-spacing: 0.0375em;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: bold;
}

img {
  width: 150px;
  height: auto;
}

@media (max-width: 640px) {
  body,
  html {
    width: 100vw;
    height: auto;
  }
  .main {
    min-width: 256px;
    width: 100%;
  }
  h1 {
    font-size: 3.2rem;
  }
  p {
    font-size: 2rem;
    line-height: 1.5;
  }
  .works1 {
    flex-direction: column;
    min-width: 256px;
  }
  .works2 {
    flex-direction: column-reverse;
    min-width: 256px;
  }
  .works3 {
    flex-direction: column;
    min-width: 256px;
  }
  .step1 {
    width: 100%;
  }
  .step2 {
    width: 100%;
  }
  .step3 {
    width: 100%;
  }
  .para1 {
    width: 100%;
    margin-top: 1.5rem;
  }
  .para2 {
    width: 100%;
    margin-top: 1.5rem;
  }
  .para3 {
    width: 100%;
    margin-top: 1.5rem;
  }
}
