body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-family: "Ubuntu";
  margin: 6px 20px 6px;
  font-size: 3.5rem;
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
  text-shadow: -1px -1px 0px #469438, 3px 3px 0px #469438, 6px 6px 0px #57b846;
}

/* Header for nav */

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  background-color: #469438;
}

/* Nav Links style */

.nav-links {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}

.nav-link {
  width: 12em;
  height: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  border: 0.3em solid white;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background: #469438;
  padding: 20px;
  padding-bottom: 50px;
  position: relative;
}

.nav-link:hover {
  cursor: pointer;

  background: white;
  color: #469438;
}
